body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Background of the body stays light grey */
}

header {
    background-color: #98FB98; /* Light green for header */
    color: black; /* Changed text color for better contrast */
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: black; /* Updated link color for better visibility */
    text-decoration: none;
}

section {
    padding: 20px;
}

footer {
    background-color: #98FB98; /* Light green for footer */
    color: black; /* Changed text color for better contrast */
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

